doctype transitional
head
  meta(name='viewport' content='width=device-width')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title Hello World
  style(type='text/css').
    * {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    }
    img {
    max-width: 100%;
    }
    body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    width: 100% !important;
    height: 100%;
    line-height: 1.6em;
    /* 1.6em * 14px = 22.4px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
    /*line-height: 22px;*/
    }
    /* Let's make sure all tables have defaults */
    table td {
    vertical-align: top;
    }
    /* -------------------------------------
    BODY & CONTAINER
    ------------------------------------- */
    body {
    background-color: #f6f6f6;
    }
    .body-wrap {
    background-color: #f6f6f6;
    width: 100%;
    }
    .container {
    display: block !important;
    max-width: 600px !important;
    margin: 0 auto !important;
    /* makes it centered */
    clear: both !important;
    }
    .content {
    max-width: 600px;
    margin: 0 auto;
    display: block;
    padding: 20px;
    }
    /* -------------------------------------
    HEADER, FOOTER, MAIN
    ------------------------------------- */
    .main {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    }
    .content-wrap {
    padding: 20px;
    }
    .content-block {
    padding: 0 0 20px;
    }
    .content-block-center {
    padding: 0 0 20px;
    font-weight: 400;
    font-size: 32px !important;
    }
    .header {
    width: 100%;
    margin-bottom: 20px;
    }
    .footer {
    width: 100%;
    clear: both;
    color: white;
    padding: 20px;
    background-color: #002420;
    }

    .footer .subtitle3 {
    letter-spacing: 2px;
    font-weight: bold;
    }
    .footer a {
    text-decoration: none;
    color:#0083FF;
    }
    .title {
    font-size: 56px ;
    }
    .body1 {
    font-size: 14px;
    }
    .body2 {
    font-size: 16px;
    }
    .body3 {
    font-size: 18px;
    }
    .subtitle {
    font-size: 20px;
    }
    .subtitle2 {
    font-size: 22px;
    }
    .subtitle2 {
    font-size: 24px;
    }
    .subtitle3 {
    font-size: 26px;
    }
    /* -------------------------------------
    TYPOGRAPHY
    ------------------------------------- */
    h1,
    h2,
    h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #000;
    margin: 40px 0 0;
    line-height: 1.2em;
    font-weight: 400;
    }
    h1 {
    font-size: 32px;
    font-weight: 500;
    /* 1.2em * 32px = 38.4px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
    /*line-height: 38px;*/
    }
    h2 {
    font-size: 24px;
    /* 1.2em * 24px = 28.8px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
    /*line-height: 29px;*/
    }
    h3 {
    font-size: 18px;
    /* 1.2em * 18px = 21.6px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
    /*line-height: 22px;*/
    }
    h4 {
    font-size: 14px;
    font-weight: 600;
    }
    p,
    ul,
    ol {
    margin-bottom: 10px;
    font-weight: normal;
    }
    p li,
    ul li,
    ol li {
    margin-left: 5px;
    list-style-position: inside;
    }
    /* -------------------------------------
    LINKS & BUTTONS
    ------------------------------------- */
    a {
    color: #348eda;
    text-decoration: underline;
    }
    .btn-primary {
    text-decoration: none;
    color: #FFF;
    background-color: #348eda;
    border: solid #348eda;
    border-width: 10px 20px;
    line-height: 2em;
    /* 2em * 14px = 28px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
    /*line-height: 28px;*/
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    text-transform: capitalize;
    }
    /* -------------------------------------
    OTHER STYLES THAT MIGHT BE USEFUL
    ------------------------------------- */
    .last {
    margin-bottom: 0;
    }
    .first {
    margin-top: 0;
    }
    .aligncenter {
    text-align: center;
    }
    .alignright {
    text-align: right;
    }
    .alignleft {
    text-align: left;
    }
    .clear {
    clear: both;
    }
    /* -------------------------------------
    ALERTS
    Change the class depending on warning email, good email or bad email
    ------------------------------------- */
    .alert {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding: 20px;
    text-align: center;
    border-radius: 3px 3px 0 0;
    }
    .alert a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    }
    .alert.alert-warning {
    background-color: #FF9F00;
    }
    .alert.alert-bad {
    background-color: #D0021B;
    }
    .alert.alert-good {
    background-color: #68B90F;
    }
    /* -------------------------------------
    INVOICE
    Styles for the billing table
    ------------------------------------- */
    .invoice {
    margin: 40px auto;
    text-align: left;
    width: 80%;
    }
    .invoice td {
    padding: 5px 0;
    }
    .invoice .invoice-items {
    width: 100%;
    }
    .invoice .invoice-items td {
    border-top: #eee 1px solid;
    }
    .invoice .invoice-items .total td {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    font-weight: 700;
    }
    .code {
    font-size: 18px !important;
    font-weight: 700;
    }
    /* Other */
    .share-baby-book{
    background: #48C1A6 0% 0% no-repeat padding-box;
    color:white;
    font-size: 18px;
    width: 240px;
    height: 60px;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 40px;
    margin: auto;
    line-height: 60px;
    text-align: center;
    }
    .share-baby-book:hover {
    color: #48C1A6;
    background:unset;
    }
    /* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
    ------------------------------------- */
    @media only screen and (max-width: 640px) {
    body {
    padding: 0 !important;
    }
    h1,
    h2,
    h3,
    h4 {
    font-weight: 800 !important;
    margin: 20px 0 5px !important;
    }
    h1 {
    font-size: 22px !important;
    }
    h2 {
    font-size: 18px !important;
    }
    h3 {
    font-size: 16px !important;
    }
    .container {
    padding: 0 !important;
    width: 100% !important;
    }
    .content {
    padding: 0 !important;
    }
    .content-wrap {
    padding: 10px !important;
    }
    .invoice {
    width: 100% !important;
    }
    }
    /*# sourceMappingURL=styles.css.map */
table.body-wrap
  tbody
    tr
      td
      td.container(width='100%')
        .content
          table.main(width='100%' cellpadding='0' cellspacing='0' itemprop='action' itemscope='' itemtype='http://schema.org/ConfirmAction')
            tbody
              tr
                td.content-wrap
                  meta(itemprop='name' content='')
                  table(width='100%' cellpadding='0' cellspacing='0')
                    tbody
                      tr
                        td.content-block(style='text-align:center;')
                          div
                            img(style='width:60%;' src=logoBrandUrl alt='')
                          div(style='margin-top: 40px;')
                            img(src=shareImageUrl alt='')
                      tr
                        td(style='text-align: left;')
                          p(style='margin-top: 20px;font-size: 16px;font-family: Helvetica;') Hey there,
                          p(style='margin-top: 20px;font-size: 16px;font-family: Helvetica;')
                            | You&rsquo;ve been invited by #{firstName} #{lastName} to #{role} #{babyName}&rsquo;s Baby book! We&rsquo;re excited to flip through their milestones and photos in their baby book with you.
                          if duration
                            p(style='margin-top: 20px;font-size: 16px;font-family: Helvetica;')
                              | Your baby book access will expire #{duration} minute(s) after opening it. If you still want to view their baby book afterwards, please talk to #{firstName} to give you access again.
                          else
                            if role === 'edit'
                              p(style='margin-top: 20px;font-size: 16px;font-family: Helvetica;')
                                | You can access the baby books on your app and your website now, and the access is unlimited until the owner stops sharing.
                            else
                              p(style='margin-top: 20px;font-size: 16px;font-family: Helvetica;')
                                | Your baby book access is unlimited until the owner stops sharing.
                          p(style='margin-top: 20px;font-size: 16px;font-family: Helvetica;margin-bottom: 30px;') Thank you very much!
                      if role === 'view'
                        tr
                          td
                            a(style='text-decoration: none;' href=invitationLink)
                              .share-baby-book Access baby book
          .footer
            table(width='100%' cellpadding='0' cellspacing='0')
                tbody
                  tr
                    td.content-block(style='text-align:center')
                      p.subtitle3(style='margin-top: 30px; margin-bottom: 30px;color:white') Zesthealth Kids
                      p.body2(style='margin-bottom: 30px;color:white')
                        | Please do not reply to this email. If you have a question about your new account, please visit our 
                        a.body2(href=`${supportPageUrl}` target='_blank' style='text-decoration: none;') support page
                        | .
                      p.body2(style='margin-bottom: 20;color:white') &copy;2023 Ibeky Philippines Inc.

